<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>Shoe Stores and Brands Website</title>
  </head>
  <body>
    <div class="container">
      <h1>Brands</h1>
      <hr />
      <h3>Edit a Brand</h3>
      @if(Model != null)
      {
        <form action="/Brands/@Model["foundBrand"].GetId()" method="post">
          <label>Change Brand Name: </label>
          <input type="text" name="brand-name" value="@Model["foundBrand"].GetName()">
          <button class="btn btn-success" type="submit" name="button">Submit</button>
        </form>        
        <form action="/Brands/AddStore/@Model["foundBrand"].GetId()" method="post">
          <label>Add a Store:</label>
          <select name="store-name">
            @foreach(var store in Model["allStores"])
            {
              <option value="@store.GetId()">@store.GetName()</option>
            }
          </select>
          <button class="btn btn-success" type="submit" name="button">Add</button>
        </form>
      }
      <h2>Brand With Their Stores</h2>
      @if(Model != null)
      {
        <h3>@Model["foundBrand"].GetName()</h3>
        <ul>
          @foreach(var store in Model["foundStores"])
          {
            <li>@store.GetName()</li>
          }
        </ul>
      }
      <a href="/Brands/Delete/@Model["foundBrand"].GetId()">Delete This Brand</a>
      <h3><a href="/Brands/">Back</a></h3>
    </div>
  </body>
</html>
